

<h1>Syracuse Resource</h1>
<head>
    <title>Resource page
        </title>
    <style type="text/css">
        li.a {
            position: relative;
            float: right;
            clear: both;
        }

        img.class {
            z-index: -3;
        }

        #style {
            border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;
        }

        .style {
            border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
        }
    </style>

    </head>
<body style="height:1000px;background-color:orange">
<div class="style" style="border:2px solid black;top:150px;left:150px;width:360px;font-size:xx-large;float:left;height:300px;position:relative">
<li style="position:absolute;top:20px">
    <a href="http://syr.edu/index.html">Syracuse Homepage</a>
    <ul>
        <li style="position:relative;top:10px"><a href="https://myslice.syr.edu/psp/PTL9PROD/EMPLOYEE/EMPL/h/?tab=PAPP_GUEST">My Slice</a>
        <li style="position:relative;top:30px"><a href="http://syr.edu/currentstudents/">Current Student</a></li>
        <li style="position:relative;top:50px"><a href="http://syr.edu/facultyandstaff/">Faculty And Stuff</a></li>
        <li style="position:relative;top:70px"><a href="http://syr.edu/alumni/">Alumni Home</a></li>
    </ul>
</li>
</div>
    <div class="style" style="border:2px solid black;top:150px;left:170px;width:360px;font-size:xx-large;float:left;height:300px;position:relative">
        <li style="position:absolute;top:20px">
            <a href="http://archives.syr.edu/buildings/alphalist.html">Syracuse Buildings</a>
            <ul>
                <li style="position:relative;top:10px"><a href="http://archives.syr.edu/buildings/bird.html">Bird</a>
                <li style="position:relative;top:30px"><a href="http://archives.syr.edu/buildings/carnegie.html">Carnegie Library</a></li>
                <li style="position:relative;top:50px"><a href="http://archives.syr.edu/buildings/crouse.html">Crouse College</a></li>
                <li style="position:relative;top:70px"><a href="http://archives.syr.edu/buildings/carrier_dome.html">Dome</a></li>
            </ul>
        </li>
    </div>
    <div class="style" style="border:2px solid black;top:150px;left:190px;width:360px;font-size:xx-large;float:left;height:300px;position:relative">
        <li style="position:absolute;top:20px">
            <a href="http://falk.syr.edu/SportManagement/Default.aspx">Sport Management</a>
            <ul>
                <li style="position:relative;top:10px"><a href="http://cuse.com/index.aspx?path=mbasket">Basketball</a>
                <li style="position:relative;top:30px"><a href="http://www.cuse.com/index.aspx?path=football&">Current Student</a></li>
                <li style="position:relative;top:50px"><a href="http://cuse.com/index.aspx?path=swimming">Swim</a></li>
                <li style="position:relative;top:70px"><a href="http://cuse.com/schedule.aspx?path=mbasket">Schedule</a></li>
            </ul>
        </li>
    </div>
</body>